.articles {
    /*border: thin solid blue;*/
}

.article {
    margin-bottom: 1.5rem;
}

.article time {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #777;
}

.article h3 {
    margin: 0.25rem 0 0.75rem 0;
}

.article h3 a {
    color: inherit;
}

.article a:hover {
    text-decoration: none;
    color: #2a6496;
    border-bottom: 1px solid #2a6496;
}

.article p {
    margin: 0 0 0.75rem 0;
}